body{
    background-image: url(afroaircargo-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 h1 b,h3 b,h4 b,a,.adress{
    font-size: 65px;
 }


.baslik{
    color: white;
    font-size: 75px;
    font-family: Garamond, serif;
    text-align: center;
    margin-bottom: -42px;

}

.altbaslık{
    color: white;
    font-size: 45px;
    font-family: Garamond, serif;
    text-align: center;
}

.iletisim{
    color: white;
    font-size: 20px;
    font-family: Garamond, serif;
    text-align: center;
}
.mail{
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 298px) {
 h1 b,h3 b,h4 b,.mail,.adress{
    font-size: 60px;
 }


@media screen and (max-width:888px) {
    .mobil{
        font-size: 90px;
     }
}

}
